.tarjeta {
  width: 200px;
  height: 330px;
  background-color: #fff;
  border-radius: 0;
  padding: 20px;
  margin: 25px;
  box-shadow: 5px 5px 5px -3px #000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: transform 1s;
}

.tarjeta:hover {
  transform: scale(1.1, 1.1);
}

.tarjeta img {
  align-self: center;
  width: 90%;
  height: 40%;
}

.tarjeta button {
  align-self: flex-end;
  background-color: #C40802;
  color: black;
  width: 80%;
  height: 40px;
  margin: 5px;
  border: 0;
  border-radius: 5px;
}

.tarjeta p {
  font-size: 18px;
  color: black;
  text-align: center;
}

.tarjeta h3 {
  font-size: 24px;
  color: black;
  text-align: center;
}

/**MAIN**/
.main__index #articulos {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "ofe ofe ofe" "busc busc comb";
  background-color: #f9f9f9;
  justify-content: space-between;
  box-shadow: 5px 5px 15px 1px #000000;
}

.main__index article {
  margin: 5%;
  color: #C40802;
}

.main__index .articulos h2 {
  font-size: 30px;
  text-align: center;
}

.articulo__1 {
  grid-area: ofe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tarjeta__index {
  width: 360px;
  height: 180px;
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
  margin: 15px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 1s;
}

.tarjeta__index .tarjeta__imagen__index {
  max-width: 40%;
  width: 140px;
  height: 150px;
}

.tarjeta__index:hover {
  border-width: 2px;
  border-color: #000000;
  background-color: whitesmoke;
  transform: scale(1.1, 1.1);
}

.articulo__2 {
  grid-area: busc;
}

.articulo__2 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.articulo__2 ul li {
  border: solid grey 1px;
  border-radius: 40px;
  margin: 20px;
  font-size: 40px;
  padding: 10px;
  transition: box-shadow 1s;
}

.articulo__2 ul li a {
  text-decoration: none;
  color: #C40802;
  font-size: 26px;
}

.articulo__2 ul li:hover {
  box-shadow: 5px 5px 25px 0px #000000;
}

.articulo__3 {
  grid-area: comb;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.combo__1 {
  height: 250px;
  width: 360px;
  transition: box-shadow 1s;
}

.combo__1:hover {
  box-shadow: 5px 5px 25px 0px #000000;
}

#productos__titulo {
  text-align: center;
  font-size: 48px;
  background-color: #C40802;
  margin-top: 20px;
  margin-bottom: 20px;
}

#vacas, #cerdo, #aves, #prepa {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

h2 p {
  font-size: 35px;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
  padding: 0%;
  font-size: 18px;
}

/**HEADER**/
#top {
  background-color: #C40802;
  height: 35px;
  width: 100;
}

header h1 {
  text-align: center;
  padding: 2vh;
}

header #header__index {
  background-color: #FF0902;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header #nav__logo {
  border-style: inset;
  border-color: #C40802;
  border-width: 5px;
}

header .header__buscador {
  width: 100%;
}

/**HEADER**/
/**FOOTER**/
footer {
  display: flex;
  flex-direction: row;
  background-color: #FF0902;
  align-items: center;
  justify-content: space-around;
}

footer p {
  font-size: 12px;
}

footer img {
  border-style: inset;
  border-color: #C40802;
  border-width: 5px;
}
/*# sourceMappingURL=style.css.map */