.tarjeta, .tarjeta__oferta {
  width: 220px;
  height: 400px;
  background-color: #fff;
  border-radius: 0;
  padding: 20px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: transform 1s;
}

.tarjeta:hover, .tarjeta__oferta:hover {
  border: 2px solid #000;
}

.tarjeta img, .tarjeta__oferta img {
  align-self: center;
  width: 100%;
  height: 50%;
}

.tarjeta button, .tarjeta__oferta button {
  align-self: flex-end;
  background-color: #C40802;
  color: black;
  width: 100%;
  height: 40px;
  margin: 5px;
  border: 0;
  border-radius: 5px;
}

.tarjeta button:hover, .tarjeta__oferta button:hover {
  border: 2px outset #474646;
}

.tarjeta p, .tarjeta__oferta p {
  font-size: 18px;
  color: false;
  text-align: center;
}

.tarjeta h3, .tarjeta__oferta h3 {
  font-size: 24px;
  color: false;
  text-align: center;
}

@media (max-width: 700px) {
  .tarjeta, .tarjeta__oferta {
    width: 160px;
    height: 400px;
    background-color: #fff;
    border-radius: 0;
    padding: 5px;
    margin: 10px;
  }
  .tarjeta p, .tarjeta__oferta p {
    font-size: 16px;
    color: false;
    text-align: center;
  }
  .tarjeta h3, .tarjeta__oferta h3 {
    font-size: 18px;
    color: false;
    text-align: center;
  }
  .tarjeta img, .tarjeta__oferta img {
    height: 40%;
  }
}

.tarjeta__oferta {
  position: relative;
}

.tarjeta__oferta p {
  line-height: 0.5;
}

.oferta__aviso {
  border-radius: 15px;
  background-color: #FFD500;
  width: 80px;
  text-align: center;
  position: absolute;
  top: 0;
}

.tachado {
  text-decoration: line-through;
  font-size: 12;
  color: #FF0902;
  text-align: center;
}

/**MAIN**/
.main__index #articulos {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "ofe ofe ofe" "busc comb comb";
  background-color: #FAFAFA;
  justify-content: space-between;
  box-shadow: 5px 5px 15px 1px #000000;
}

.main__index article {
  margin: 5%;
  color: #C40802;
}

.main__index .articulos h2 {
  font-size: 30px;
  text-align: center;
}

@media (max-width: 700px) {
  .main__index #articulos {
    display: flex;
    flex-direction: column;
  }
}

.articulo__1 {
  grid-area: ofe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articulo__1 h2 {
  font-size: 40px;
  color: #C40802;
  text-align: center;
}

.tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tarjeta__index {
  width: 360px;
  height: 180px;
  background-color: #fff;
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
  margin: 15px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  transition: transform 1s;
}

.tarjeta__index .tarjeta__imagen__index {
  max-width: 40%;
  width: 140px;
  height: 150px;
}

.tarjeta__index:hover {
  border-width: 2px;
  border-color: #000000;
  transform: scale(1.1, 1.1);
}

.articulo__2 {
  grid-area: busc;
}

.articulo__2 ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.articulo__2 ul li {
  border: solid grey 1px;
  border-radius: 40px;
  margin: 20px;
  font-size: 40px;
  padding: 10px;
  transition: box-shadow 1s;
}

.articulo__2 ul li a {
  text-decoration: none;
  color: #C40802;
  font-size: 26px;
}

.articulo__2 ul li:hover {
  box-shadow: 5px 5px 25px 0px #000000;
}

.articulo__2 h2 {
  font-size: 35px;
  color: #C40802;
  text-align: center;
}

.articulo__3 {
  grid-area: comb;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articulo__3 h2 {
  font-size: 30px;
  color: #C40802;
  text-align: center;
}

.combo__1 {
  height: 250px;
  width: 340px;
}

#productos__titulo {
  text-align: center;
  font-size: 48px;
  background-color: #C40802;
  margin-top: 20px;
  margin-bottom: 20px;
}

#vacas, #cerdo, #aves, #prepa, #ofertas {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

h2 p {
  font-size: 35px;
}

.main__nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__nosotros .nosotros__titulo {
  background-color: #C40802;
  font-size: 48px;
  color: #000;
  text-align: center;
}

.main__nosotros .nosotros__texto {
  font-size: 24px;
  color: #000;
  text-align: center;
}

.main__nosotros .nosotros__valores {
  background-color: #C40802;
  font-size: 48px;
  color: #000;
  text-align: center;
}

.main__nosotros .der {
  background-color: #FF0902;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.main__nosotros .izq {
  background-color: #C40802;
  font-size: 24px;
  color: #000;
  text-align: center;
}

.main__nosotros .bottom {
  padding: 10px;
  background-color: #FF0902;
  font-size: 24px;
  color: #000;
  text-align: center;
}

@media (max-width: 700px) {
  .main__nosotros .nosotros__titulo {
    font-size: 35px;
    color: #000;
    text-align: center;
  }
  .main__nosotros .nosotros__texto {
    font-size: 18px;
    color: #000;
    text-align: center;
  }
  .main__nosotros .nosotros__valores {
    font-size: 35px;
    color: #000;
    text-align: center;
  }
  .main__nosotros .der {
    font-size: 18px;
    color: #000;
    text-align: center;
  }
  .main__nosotros .izq {
    font-size: 18px;
    color: #000;
    text-align: center;
  }
  .main__nosotros .bottom {
    font-size: 18px;
    color: #000;
    text-align: center;
  }
}

.contacto {
  display: flex;
  margin-top: 20px;
}

.contacto__titulo {
  background-color: #C40802;
  font-size: 48px;
  color: false;
  text-align: center;
}

.contacto__principal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacto__formulario {
  border-style: inset;
  border-color: #C40802;
  border-width: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.contacto__formulario label {
  font-size: 24px;
  color: false;
  text-align: center;
}

.formulario__boton {
  width: 50%;
  background-color: #C40802;
  border-radius: 5px;
  border: 0cm;
  margin: 5px;
}

.input__radio {
  display: flex;
  align-items: center;
}

.contacto__redes ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contacto__redes ul li {
  list-style: none;
}

.contacto__redes ul li a {
  text-decoration: none;
}

.ubicacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ubicacion__titulo {
  font-size: 48px;
  color: false;
  text-align: center;
  background-color: #C40802;
  margin: 15px;
}

@media (max-width: 700px) {
  .ubicacion__titulo {
    font-size: 35px;
    color: #000;
    text-align: center;
  }
  .ubicacion__texto {
    font-size: 18px;
    color: #000;
    text-align: center;
  }
  .contacto__titulo {
    font-size: 35px;
    color: #000;
    text-align: center;
  }
}

#ofertas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ofertas__titulo {
  background-color: #C40802;
  margin: 15px;
  font-size: 48px;
  color: false;
  text-align: center;
}

.navbar {
  background-color: #C40802 !important;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0%;
  padding: 0%;
  font-size: 18px;
}

/**HEADER**/
#top {
  background-color: #C40802;
  height: 35px;
  width: 100;
}

header h1 {
  text-align: center;
  padding: 2vh;
}

header #header__index {
  background-color: #FF0902;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header #nav__logo {
  border-style: inset;
  border-color: #C40802;
  border-width: 5px;
}

header .buscador {
  display: flex;
  flex-direction: row-reverse;
}

header .header__buscador {
  width: 75%;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

header i {
  font-size: 35px;
}

@media (max-width: 700px) {
  header i .header__buscador {
    display: none;
  }
  header i:hover .header__buscador {
    display: inline-block;
    width: 100%;
  }
}

/**HEADER**/
/**FOOTER**/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #DCDCDD;
}

footer h4 {
  font-size: 22px;
  color: #C40802;
  text-align: start;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  font-size: 14px;
  color: #C40802;
  text-align: center;
}

.footer__novedades .email button {
  border: 0;
  border-radius: 5px;
  padding: 3px;
  background-color: #C40802;
  width: 35%;
}

.footer__novedades .email input {
  width: 60%;
}

@media (max-width: 700px) {
  .footer__novedades .email button {
    width: 100%;
    margin: 5px;
  }
  .footer__novedades .email input {
    width: 100%;
    margin: 5px;
  }
}
/*# sourceMappingURL=style.css.map */