.contacto{
    display: flex;
    margin-top: 20px;
    
}
.contacto__titulo{
    background-color: $colorojo2;
    @include proptext(48px,false,center);
    
}
.contacto__principal{
    @include propflex(flex,row,center,center);
}
.contacto__formulario{
    border-style: inset;
    border-color: $colorojo2;
    border-width: 5px;
    color: black;
    @include propflex(flex,column,center,center);
    label{
        @include proptext(24px,false,center);
    } 
    margin: 20px;
   
}
.formulario__boton{
    width: 50%;
    background-color: $colorojo2;
    border-radius: 5px;
    border: 0cm;
    margin: 5px;
    
}

.input__radio{
    display: flex;
    align-items: center;
}
.contacto__redes{
    ul{
        @include propflex(flex,row,space-around,center);
    
    li{
        list-style: none;
        a{
            text-decoration: none;
        }
    }
}
}
.ubicacion{
    @include propflex (flex,row,center,center);
    p{
        padding: 15px;
        margin: 10px;
    }
    iframe{
        padding: 15px;
        margin:5px;
    }
}
.ubicacion__titulo{
    @include proptext(48px,false,center);
    background-color: $colorojo2;
    margin: 15px;
}
@media (max-width:700px){
    .ubicacion__titulo{
        @include proptext(35px,#000,center)
    }
    .ubicacion__texto{
        @include proptext(15px,#000,center)
    }
    .contacto__titulo{
        @include proptext(28px,#000,center)

    }
}