/**MAIN**/
.main__index{
    #articulos{
        display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr auto ;
        grid-template-areas: "ofe ofe ofe"
                             "busc comb comb"
                             ;
        background-color: $blanco1;
        justify-content: space-between;
        box-shadow: 5px 5px 15px 1px #000000;
    }
    article{
        margin: 5%;
        color: $colorojo2;
    }
    .articulos{
         h2{
        font-size: 30px;
        text-align: center;
        }
        }
        @media (max-width:700px){
            #articulos{
                display: flex;
                flex-direction: column;
            }
        }
    }
    .articulo__1{
        grid-area: ofe;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            @include proptext (40px,$colorojo2,center)
        }
        
    }
    .tarjetas{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .tarjeta__index{
        width: 360px;
        height: 180px;
        background-color: $blanco2;
        border-top: solid grey 1px;
        border-bottom: solid grey 1px;
        margin: 15px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        transition: transform 1s;
        
        .tarjeta__imagen__index{
            max-width: 40%;
            width: 140px;
            height: 150px;
        }
        &:hover{
            border-width: 2px;
            border-color: #000000;
            transform: scale(1.1,1.1);
            
        }
    }
    .articulo__2{
        grid-area: busc;
        ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
            li{
            border: solid grey 1px;
            border-radius: 40px;
            margin: 20px;
            font-size: 40px;
            padding: 10px;
            transition: box-shadow 1s;
                a{
                    text-decoration: none;
                    color: #C40802;
                    font-size: 26px;
                }
                &:hover{
                    box-shadow: 5px 5px 25px 0px #000000;
                }
            }
        }
        h2{
            @include proptext (35px,$colorojo2,center)
        }
    }
    .articulo__3{
        grid-area: comb;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            @include proptext (30px,$colorojo2,center)
        }
    }
    .combo__1{
        height: 250px;
        width: 340px;
        
    }
    
    
    
    
    
    
   