@mixin propiedadeprincipal ($fondocolor,$colorletra,$ancho,$alto)  {
    background-color: $fondocolor;
    color: $colorletra;
    width: $ancho;
    height: $alto;
} 
  


@mixin proptext ($size,$color,$aling){
    font-size: $size;
    color: $color;
    text-align: $aling;
}

@mixin propflex ($display,$direction,$justify,$aling) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
    
}