#productos__titulo{
    text-align: center;
    font-size: 48px;
    background-color: #C40802;  
    margin-top: 20px;
    margin-bottom: 20px;  
}

#vacas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
h2 p{
    font-size: $titusize;
}
#cerdo{
    @extend #vacas ;
}
#aves{
   @extend #vacas ;
}
#prepa{
    @extend #vacas ;
}