@import "_mixins";


.tarjeta{
    width: map-get($tarjeta  , ancho );
    height: map-get($tarjeta  , alto );
    background-color: map-get($tarjeta  , fondo );
    border-radius: map-get($tarjeta  , borde);
    padding: map-get($tarjeta  , pading );
    margin: map-get($tarjeta  , margen );
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 1s;
    &:hover{
        border: 2px solid #000;
    }
    img{
    align-self: center;
    width: 100%;
    height: 50%;
    }
    button{
        align-self: flex-end;
        @include  propiedadeprincipal($colorojo2,black,100%,40px);
        margin: 5px;
        border: 0;
        border-radius: 5px;
        &:hover{
            border: 2px outset rgb(71, 70, 70);
        }
    }
    p{
        @include proptext(18px,false,center)
    }
    h3{
        @include proptext(24px,false,center)
    }
    
    @media (max-width:500px){
        width: map-get($tarjetaresponsive , ancho);
        height: map-get($tarjetaresponsive  , alto );
        background-color: map-get($tarjetaresponsive  , fondo );
        border-radius: map-get($tarjetaresponsive  , borde);
        padding: map-get($tarjetaresponsive  , pading );
        margin: map-get($tarjetaresponsive  , margen );
        p{
            @include proptext(16px,false,center)
        }
        h3{
            @include proptext(18px,false,center)
        }
        img{
            height: 40%;
        }
    }
}

.tarjeta__oferta{
    @extend .tarjeta;
    position: relative;
    p{
        
        line-height: 0.5;
    }
}
.oferta__aviso{
    border-radius: 15px;
    background-color: #FFD500;
    width: 80px;
    text-align: center;
    position:absolute;
    top:0 ;
}
.tachado{
    text-decoration: line-through;
    @include proptext(12,$colorojo1,center)
}
