@import "_mixins";


.tarjeta{
    width: map-get($tarjeta  , ancho );
    height: map-get($tarjeta  , alto );
    background-color: map-get($tarjeta  , fondo );
    border-radius: map-get($tarjeta  , borde);
    padding: map-get($tarjeta  , pading );
    margin: map-get($tarjeta  , margen );
    box-shadow: map-get($tarjeta  , sombra);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: transform 1s;
    &:hover{
        transform: scale(1.1,1.1);
    }
    img{
    align-self: center;
    width: 90%;
    height: 40%;
    }
    button{
        align-self: flex-end;
        @include  propiedadeprincipal($colorojo2,black,80%,40px);
        margin: 5px;
        border: 0;
        border-radius: 5px;
    }
    p{
        @include proptext(18px,false,center)
    }
    h3{
        @include proptext(24px,false,center)
    }
}
