$colorojo1: #FF0902;
$colorojo2 : #C40802;
$blanco1 : #FAFAFA;
$blanco2: #fff;
$titusize: 35px;
$tarjeta: (
    ancho: 220px,
    alto:  400px,
    fondo: #fff,
    borde: 0,
    pading: 20px,
    margen: 25px,
    sombra: 5px 5px 5px -3px #000
);
$tarjetaresponsive: (
    ancho: 150px,
    alto:400px,
    fondo:#fff,
    borde:0,
    pading: 5px,
    margen: 10px,
    sombra: 5px 5px 5px -3px #000,

);