
@import "_variables";
@import "_tarjetas";
@import "_mainindex";
@import "_productos";
@import "_mixins";
@import "_nosotros";


*{
    font-family: 'Montserrat', sans-serif;;
    margin: 0%;
    padding: 0%;
    font-size: 18px;
}
/**HEADER**/
#top{
    background-color: $colorojo2;
    height: 35px;
    width: 100;
}
header{
h1{
    text-align: center;
    padding: 2vh;
}  
#header__index{
    background-color: $colorojo1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}  
#nav__logo{
    border-style: inset;
    border-color: $colorojo2;
    border-width: 5px; 
}
.header__buscador{
    width: 75%;
}
}
/**HEADER**/
/**FOOTER**/
footer{
    display: flex;
    flex-direction: row;
    background-color:#FF0902;
    align-items: center;
    justify-content: space-around;
    p{
        font-size: 14px;
    }
    img{
    border-style: inset;
    border-color:#C40802;
    border-width: 5px;
    }
}

