
@import "_variables";
@import "_tarjetas";
@import "_mainindex";
@import "_productos";
@import "_mixins";
@import "_nosotros";
@import "_contacto";
@import "_ofertas";

.navbar{
    background-color: $colorojo2 !important;
}

*{
    font-family: 'Montserrat', sans-serif;;
    margin: 0%;
    padding: 0%;
    font-size: 18px;
}
/**HEADER**/
#top{
    background-color: $colorojo2;
    height: 35px;
    width: 100;
}
header{
h1{
    text-align: center;
    padding: 2vh;
}  
#header__index{
    background-color: $colorojo1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}  
#nav__logo{
    border-style: inset;
    border-color: $colorojo2;
    border-width: 5px; 
}
.buscador{
    display:flex ;
    flex-direction: row-reverse;
}
.header__buscador{
    width: 75%;
    font-size: 24px;
}
i{
    font-size: 35px;
}
@media (max-width:700px){
    i .header__buscador{
        display: none;
    }
    i:hover .header__buscador{
        display:inline-block;
    }
    

}
}
/**HEADER**/
/**FOOTER**/
footer{
    display: flex;
    justify-content: space-between;
    background-color: #DCDCDD;
    h4{
        @include proptext (22px,$colorojo2,start)
    }
    ul{
        li{
            list-style: none;
            a{
             @include proptext (14px,$colorojo2,center)
            }
        }
    }
    
}
.footer__novedades{
    .email{
        button{
            border: 0;
            border-radius: 5px ;
            padding: 3px;
            background-color: $colorojo2;
            width: 35%;   
        }
        input{
            width: 60%;
        }
        @media (max-width:700px){
            button{
                width: 100%;
                margin: 5px;
            }
            input{
                width: 100%;
                margin: 5px;
            }
        }
    }
    
}


